
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>EVE Online 晨曦应用集合</title>
    <link rel="stylesheet" href="./static/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="./static/css/typo.css" type="text/css"/>
    <link rel="stylesheet" href="./static/css/style.css" type="text/css" />
    <script src="./static/js/scroll.js" type="text/javascript"></script>
</head>
<body>
    <div id="header" role="banner">
        <div class="wrap clearfix">
            <div class="logo">
                <h1>
                    <a class="eve" href="/">
                        <img src="./static/img/eve.png" width="122" height="52" alt="EVE Online">
                    </a>
                </h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#server">服务器状态</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="content typo wrap">
        <div class="content-wrap">
            <h1 id="fitting">服务器状态<small>SERVER</small></h1>
            <ul class="app-list">
                <a href="http://bbs.eve-china.com/thread-412693-1-1.html">
                    <li>EFT 2.15.1</li>
                </a>
                <a href="http://bbs.eve-china.com/thread-433580-1-1.html">
                    <li>pyfa 1.1.8</li>
                </a>
                <a href="http://bbs.eve-china.com/thread-444243-1-1.html">
                    <li>EVE 舰船专精路线图</li>
                </a>
            </ul>
            
        </div>
    </div>
    <div id="footer">
        <div class="wrap">
            <span>Templates from <a href="http://EVE.fanhe.org/">Zeray Rice</a> <p>Coding<a href="1989car.sinaapp.com/">Oishi</a></p></span>
        </div>
    </div>
</body>
</html>
