$def with(player,stats,time)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>EVE-Online Status monitor</title>
</head>
<body>
	
			<table width="600" border="0" cellspacing="0" cellpadding="0">
				<tbody>
				    
					<tr>
						<td width="120" height="20" align="left" class="statsHeader">玩家数</td>
						<td width="180" align="left" class="statsHeader">&nbsp;</td>
						<td width="120" align="left" class="statsHeader2">服务器状态</td>
						<td width="180" align="left" class="statsHeader2">&nbsp;</td>
					</tr>
					<tr>
						<td width="120" height="20" align="left">当前在线:</td>
						<td align="left">$player</td>
						<td width="120" align="left">服务器:</td>
						<td align="left">$stats</td>
					</tr>
					<tr>更新日期   -- $time</tr>
				</tbody>
			</table>
		

</body>
</html>